<style>
    .eleTree {
        width: 350px;
        height: 500px;
        border: 1px solid #ccc;
        overflow: hidden;
        display: inline-block;
    }

    a:hover {
        color: #01AAED;
    }

    .ele5 {
        height: auto;
        width: 100%;
        display: none;
        position: absolute;

        top: 100%;
        background-color: #fff;
        z-index: 100;
    }
</style>
<form class="layui-form layui-card">
    <input type="hidden" name="id" value="{$data.id ?? ''}">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">上一级分类</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="不选默认顶级" readonly="" autocomplete="off"
                       class="layui-input" value="{$data.parentName ?? ''}">
                <input type="hidden" name="pid" value="{$data.pid}">
                <div class="eleTree ele5" lay-filter="data5"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型名称</label>
            <div class="layui-input-block">
                <input type="text" name="typename" lay-verify="typename" autocomplete="off"
                       placeholder="请输入类型名称"
                       class="layui-input" value="{$data.typename}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型图标</label>
            <input type="hidden" name="icon" id="image" value="{$data.icon ?? ''}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn"><i
                            class="icon icon-upload3"></i>点击上传
                    </button>
                    <div class="layui-upload-list">
                        {empty name="$data.icon"}
                        <img class="layui-upload-img" id="cateImage" src="" style="width:80px;">
                        {else/}
                        <img class="layui-upload-img" id="cateImage" src="{$data.icon}" style="width:80px;">
                        {/empty}
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="number" name="sort" placeholder="请输入排序序号" autocomplete="off" class="layui-input"
                       value="{$data.sort ?? 0}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入类型描述" class="layui-textarea"
                          name="describe">{$data.describe|default=""}</textarea>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='button' lay-submit="" lay-filter="submit">保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
<script>
    layui.config({
        base: "__ROOT__/static/plugs/layui/lay/mymodules/"
    }).use(['form', 'layer', 'eleTree', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer, upload = layui.upload;
        var eleTree = layui.eleTree;
        var uploadInst = upload.render({
            elem: '#cateBtn',
            url: '{:url("upload/upload")}',
            done: function (res) {
                if (res.code > 0) {
                    $('#image').val(res.url);
                    $('#cateImage').attr('src', res.url);
                } else {
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            },
            error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //自定义验证规则
        form.verify({
            typename: function (value) {
                if (!value) {
                    return '类型名称不能为空';
                }
            }
        });
        form.on('submit(submit)', function (data) {
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('edit')}", data.field, function (res) {
                layer.close(loading);
                if (res.status == 'success') {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        //关闭当前frame
                        location.reload()
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        var el5;
        $("[name='title']").on("click", function (e) {
            e.stopPropagation();
            if (!el5) {
                el5 = eleTree.render({
                    elem: '.ele5',
                    url: "{:url('getCategoryTreeList')}?pid={$data.pid}",
                    defaultExpandAll: true,
                    expandOnClickNode: false,
                    highlightCurrent: true
                });
            }
            $(".ele5").toggle();
        })
        eleTree.on("nodeClick(data5)", function (d) {
            $("[name='title']").val(d.data.currentData.label)
            $("[name='pid']").val(d.data.currentData.id)
            $(".ele5").hide();
        })
        $(document).on("click", function () {
            $(".ele5").hide();
        })

    });
</script>
