<form class="layui-form layui-card">
    <input type="hidden" name="id" value="{$data.id ?? ''}">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" lay-verify="name" autocomplete="off"
                       placeholder="请输入用户名称"
                       class="layui-input" value="{$data.nickname}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户头像</label>
            <input type="hidden" name="avartar" lay-verify="avartar" id="avartar" value="{$data.avartar ?? ''}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn"><i
                            class="icon icon-upload3"></i>点击上传
                    </button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="cateImage" src="{$data.avartar ?? ''}" style="width:80px;">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="tel" autocomplete="off"
                       placeholder="请输入联系电话"
                       class="layui-input" value="{$data.tel}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" {if $data.sex == '男'} checked {/if} >
                <input type="radio" name="sex" value="2" title="女" {if $data.sex == '女'} checked {/if} >
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">身高</label>
            <div class="layui-input-block">
                <input type="text" name="height" autocomplete="off"
                       placeholder="请输入用户身高(CM)"
                       class="layui-input" value="{$data.height}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">体重</label>
            <div class="layui-input-block">
                <input type="text" name="weight" autocomplete="off"
                       placeholder="请输入用户体重(KG)"
                       class="layui-input" value="{$data.weight}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required-next">生日</label>
            <div class="layui-input-inline">
                <input type="text" name="birthday" class="layui-input" id="test1"
                       placeholder="Y-M-D"
                       value="{$data.birthday ?? 'Y-M-D'}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">余额</label>
            <div class="layui-input-block">
                <input type="text" name="balance" autocomplete="off"
                       class="layui-input" value="{$data.balance}">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">总消费金额</label>
            <div class="layui-input-block">
                <input type="text" name="consume_total" autocomplete="off"
                       class="layui-input" value="{$data.consume_total}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否为跑腿员</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_run" {if 1==$data.is_run}checked{/if} lay-skin="switch"
                       lay-text="ON|OFF">
            </div>
        </div>

        {if $data.is_run==1}
        <div class="layui-form-item">
            <label class="layui-form-label">在线状态</label>
            <div class="layui-input-block">
                <input type="text" name="" readonly autocomplete="off"
                       class="layui-input" value="{$data.status}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">成就等级</label>
            <div class="layui-input-block">
                <input type="text" name="" readonly autocomplete="off"
                       class="layui-input" value="{$data.achievement}">
            </div>
        </div>


        {/if}




    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='button' lay-submit="" lay-filter="submit">保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
<script>
    layui.config({
        base: "__ROOT__/static/plugs/layui/lay/mymodules/"
    }).use(['form', 'layer', 'eleTree', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer, upload = layui.upload;
        var eleTree = layui.eleTree;
        var uploadInst = upload.render({
            elem: '#cateBtn',
            url: '{:url("upload/upload")}',
            done: function (res) {
                if (res.code > 0) {
                    $('#avartar').val(res.url);
                    $('#cateImage').attr('src', res.url);
                } else {
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            },
            error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        //自定义验证规则
        form.verify({
            name: function (value) {
                if (!value) {
                    return '用户名称不能为空';
                }
            },
            avartar: function (value) {
                if (!value) {
                    return "用户头像必须上传";
                }
            },

        });
        laydate.render({
            elem: '#test1' //指定元素
        });

        form.on('submit(submit)', function (data) {
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('edit')}", data.field, function (res) {
                layer.close(loading);
                if (res.status == 'success') {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        //关闭当前frame
                        location.reload()
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        var el5;


        $(document).on("click", function () {
            $(".ele5").hide();
        })

    });
</script>
