{extend name='admin@main'}
{block name="content"}
<div class="think-box-shadow">
    <fieldset class="demoTable">
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form -search">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">订单号</label>
                <div class="layui-input-inline">
                    <input name="order_number" id="order_number" value="{$Think.get.order_number|default=''}" placeholder="请输入订单号"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline" style="margin-right: 10px;">
                <button class="layui-btn" id="search" type="button"><i class="layui-icon">&#xe615;</i>搜索</button>
                <!--                <button class="layui-btn" id="all" data-type="reload" onclick="location.reload()">显示全部</button>-->
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" id="type" placeholder="请输入类型">
                        <option value="">请选择类型</option>
                        <option value="1">帮代购</option>
                        <option value="2">帮取送</option>
                        <option value="3">帮排队</option>
                        <option value="4">万能跑腿</option>
                    </select>

                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn" id="search1" type="button"><i class="layui-icon">&#xe615;</i>搜索</button>
                <button class="layui-btn" id="all1" data-type="reload" onclick="location.reload()">显示全部</button>
            </div>
        </form>

    </fieldset>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{/block}
{block name="script"}
<script>form.render()</script>

<script type="text/html" id="topBtn">
    <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" id="delAll">批量删除</button>
</script>
<script type="text/html" id="action">
    <button data-modal='{:url("add")}?id={{d.id}}' data-title="编辑" class='layui-btn layui-btn-xs'>编辑</button>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value="{{d.sort}}" size="10"
           style="height: 25px;line-height: 25px;"/>
</script>
<script type="text/html">
    <input readonly class="list_order layui-input" value="{{d.time}}" size="10"
           style="height: 25px;line-height: 25px;"/>
</script>
<script type="text/html">
    <input readonly class="list_order layui-input" value="{{d.times}}" size="10"
           style="height: 25px;line-height: 25px;"/>
</script>


<script>
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            id: 'notice',
            elem: '#list',
            url: '{:url("getList")}',
            method: 'post',
            toolbar: '#topBtn',
            page: true,
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', align: 'center', title: 'ID', width: 80, fixed: true},
                {field: 'uid', align: 'center', title: '用户名称', width: 80, fixed: true},
                {field: 'type', align: 'center', title: '类型', width: 80, fixed: true},
                {field: 'content', align: 'center', title: '内容详情', width: 80, fixed: true},
                {field: 'tel', align: 'center', title: '手机号', width: 120},
                {field: 'de_address', align: 'center', title: '取货地址', width: 120},
                {field: 're_address', align: 'center', title: '收货地址', width: 120},
                {field: 'order_number', align: 'center', title: '订单号', width: 120},
                {field: 'process', align: 'center', title: '订单状态', width: 120},
                {field: 'time', align: 'center', title: '购买时间/排队时间', width: 160},
                {field: 'addtime', align: 'center', title: '下单时间', width: 160},

                {field: 'weight', align: 'center', title: '商品重量', width: 120},
                {width: 120, title: '操作', align: 'center', toolbar: '#action', fixed: "right"},
            ]],
            limit: 10 //每页默认显示的数量
        });
        //搜索
        $('#search').on('click', function () {
            var order_number = $('#order_number').val();
            tableIn.reload({
                where: {
                    order_number: order_number,
                }
            });
        });

        $('#search1').on('click', function () {
            var type = $('#type').val();
            tableIn.reload({
                where: {
                    type: type,
                }
            });
        });
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('您确定要删除吗？', function (index) {
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    var ids = [];
                    ids.push(data.id)
                    $.post("{:url('delete')}", {id: ids}, function (res) {
                        layer.close(loading);
                        if (res.status == 'success') {
                            layer.msg(res.msg, {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg('操作失败！', {time: 1000, icon: 2});
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'images') {
                $.post("{:url('getImages')}", {id: data.id}, function (result) {
                    layer.photos({
                        photos: result //格式见API文档手册页
                        , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                    });
                })
            }
        });
        //排序
        $('body').on('blur', '.list_order', function () {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post("{:url('editSort')}", {id: id, sort: sort}, function (result) {
                layer.close(loading);
                if (result.status == "success") {
                    layer.msg(result.msg, {time: 1000, icon: 1});
                    treeGrid.render;
                } else {
                    layer.msg(result.msg, {time: 1000, icon: 2});
                    treeGrid.render;
                    return false;
                }
            })
        })

        $('body').on('click', '#delAll', function () {
            layer.confirm('确认要删除选中信息吗？', {icon: 3}, function (index) {
                layer.close(index);
                var checkStatus = table.checkStatus('notice'); //topnews即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('delete')}", {id: ids}, function (data) {
                    layer.close(loading);
                    if (data.status == 'success') {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.errmsg, {time: 1000, icon: 2});
                    }
                });
            });
        })
    });
</script>
{/block}
