{extend name='admin@main'}
{block name="content"}
<div class="think-box-shadow">
    <div>
        <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
    </div>
</div>
{/block}
{block name="script"}
<script>form.render()</script>
<script type="text/html" id="topBtn">
    <button data-modal='{:url("add")}' data-title="添加时段" class='layui-btn layui-btn-sm'>添加时段</button>
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value="{{d.sort}}" size="10"
           style="height: 25px;line-height: 25px;"/>
</script>

<script type="text/html" id="time">
    <input readonly class=" layui-input" value="{{d.starttime}}-{{d.endtime}}" size="10"
           style="height: 25px;line-height: 25px;"/>
</script>


<script>
    var editObj = null, ptable = null, treeGrid = null, tableId = 'treeTable';
    layui.config({
        base: '__ROOT__/static/plugs/layui/lay/mymodules/treeGrid/',
    }).extend({
        treeGrid: 'treeGrid'
    }).use(['treeGrid', 'table', 'form'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery, treeGrid = layui.treeGrid;
        ptable = treeGrid.render({
            id: tableId
            , elem: '#' + tableId
            , idField: 'id'
            , method: "post"
            , url: "{:url('getList')}"
            , cellMinWidth: 100
            , toolbar: '#topBtn'
            , treeId: 'id'//树形id字段名称
            , treeUpId: 'pid'
            , treeShowName: 'typename'//以树形式显示的字段
            , isOpenDefault: false
            , cols:
                [[
                    {field: 'id', width: 100, title: '类型ID'}
                    ,{field: 'times', align: 'center', title: '课程时段', width: 300, templet: '#time'}
                    , {field: 'sort', align: 'center', title: '排序', width: 80, templet: '#order'}
                    , {
                        width: 200, title: '操作', align: 'center'/*toolbar: '#barDemo'*/
                        , templet: function (d) {
                            var html = '';
                            var addBtn = "";
                            var editBtn = '<button data-modal="{:url(\'add\')}?id=' + d.id + '" data-title="编辑" class="layui-btn layui-btn-sm" style="height: 25px;line-height: 25px;">编辑</button>'
                            var delBtn = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="height: 25px;line-height: 25px;">删除</a>';
                            return addBtn + editBtn + delBtn;
                        }
                    }

                ]]
            , page:
                false
        });
        treeGrid.on('tool(' + tableId + ')', function (obj) {
            if (obj.event === 'del') {
                del(obj);
            }
        });
        //排序
        $('body').on('blur', '.list_order', function () {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post("{:url('editSort')}", {id: id, sort: sort}, function (result) {
                layer.close(loading);
                if (result.status == "success") {
                    layer.msg(result.msg, {time: 1000, icon: 1});
                    treeGrid.render;
                } else {
                    layer.msg(result.msg, {time: 1000, icon: 2});
                    treeGrid.render;
                    return false;
                }
            })
        })
    });

    function del(obj) {
        layer.confirm("你确定删除数据吗?", {icon: 3, title: '提示'},
            function (index) {
                $.post("{:url('delete')}", {id: obj.data.id}, function (result) {
                    var status = result.status;
                    if (status == "success") {
                        layer.msg(result.msg, {icon: 1})
                        obj.del();
                        layer.close(index);
                    } else {
                        layer.msg(result.msg, {icon: 2})
                    }
                })
            }, function (index) {
                layer.close(index);
            }
        );
    }
</script>
{/block}
